.banner-container{
    .p-banner{
        width: 100%;
        min-height: 100vh;
        background-size: 100% auto;
        position: relative;
        &::after{
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
        }
        .p-content{
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
            // padding: 100px 0;
            .title{
                .heading-2{
                    @include rem('font-size',60);
                    font-family: "Mariad Pro Regular";
                    text-transform: capitalize;
                    color: $cl-wh;
                    
                }
            }
            .description{
                margin-bottom: 30px;
                .text{
                    @include rem('font-size',24);
                    font-family: "Mariad Pro Regular";
                    text-transform: capitalize;
                    color: #4eb1cb;
                    letter-spacing: 1.2px;
                }
            }
            .search{
                input{
                    width: 75%;
                    border-radius: 50px;
                    border: none;
                    padding: 7px 5px;
                    outline: none;
                }
                input[type="text"] {
                    @include rem('font-size',13);
                }
                button{
                    padding: 5px 30px;
                    border: none;
                    border-radius: 50px;
                    background-color: #2a94d6;
                    text-transform: uppercase;
                    color: $cl-wh;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}