.customize-container {
  padding: 100px 0 50px 0;
  border-top: 2px solid rgb(236, 235, 235);
  .p-title {
    margin-bottom: 80px;
    text-align: center;
    .heading-2 {
      @include rem("font-size", 36);
      font-family: $font-main;
    }
  }
  .p-title {
    margin-bottom: 70px;
    .heading-2 {
      @include rem("font-size", 36);
      font-family: $font-main;
    }
  }
  .p-customize-left {
    .p-img {
      width: 85%;
    }
  }
  .p-customize-right {
    .item-customize {
      margin-bottom: 50px;
      .icon {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: $cl-or;
        text-align: center;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        margin-top: 10px;
        i {
          @include rem("font-size", 24);
          color: $cl-wh;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .blue {
        background-color: $cl-blu;
      }
      .orange {
        background-color: $cl-or;
      }
      .pink {
        background-color: $cl-pi;
      }
      .description {
        padding-right: 100px;
        .title {
          margin-bottom: 8px;
          .heading-4 {
            @include rem("font-size", 24);
            font-family: $font-main;
            @include transition(all 0.5s ease-in-out);
            &:hover {
              cursor: pointer;
              color: $cl-blu;
            }
          }
        }
        .text {
          margin-bottom: 20px;
          padding-right: 20px;
          .text-content {
            @include rem("font-size", 14);
            font-family: $font-main;
          }
        }
      }
    }
  }
}
