.features-container {
  padding: 130px 0;
  .p-title {
    margin-bottom: 70px;
    .heading-2 {
      @include rem("font-size", 36);
      font-family: "Mariad Pro Regular";
    }
  }
  .p-content {
    .item-features {
      padding: 0 40px;
      position: relative;
      .icon {
        width: 140px;
        height: 140px;
        background-color: aqua;
        border-radius: 50%;
        margin-left: 60px;
        margin-bottom: 20px;
        // position: relative;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          @include rem('font-size',60);
          position: absolute;
          color: $cl-wh;
          // top: 50%;
          // left: 50%;
          // transform: translate(-50%,-50%);
        }
      }
      .blue {
        background-color: $cl-blu;
      }
      .orange {
        background-color: $cl-or;
      }
      .pink {
        background-color: $cl-pi;
      }
    }
    .title {
      margin-bottom: 20px;
      .heading-3 {
        @include rem("font-size", 24);
        font-family: "Mariad Pro Regular";
        transition: all 0.5s ease-in-out;
        &:hover{
            cursor: pointer;
            color: $cl-blu;
        }
      }
    }
    .text {
      .text-content {
        @include rem("font-size", 14);
        font-family: "Mariad Pro Regular";
      }
    }
  }
}
