<!doctype html>
<html lang="en">

<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
  "title": "HTML Boilerplate"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>

<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <!-- include banner.html -->
    @@include('../partials/banner.html')
    <!-- include features.html -->
    @@include('../partials/features.html')
    <!-- include customize.html -->
    @@include('../partials/customize.html')
    <!-- include stories.html -->
    @@include('../partials/stories.html')
    <!-- include storiestwo.html -->
    @@include('../partials/storiestwo.html')
    <!-- include try.html -->
    @@include('../partials/try.html')
    <!-- include footer.html -->
    @@include('../layouts/footer.html')
     <!-- include footer-bottom.html -->
     @@include('../partials/footer-bottom.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>

</html>