<section class="banner-container">
  <div class="p-banner" style="background-image: url('../../images/team_1.jpg')">
    <div class="p-back"></div>
    <div class="p-content">
      <div class="title">
        <h2 class="heading-2">
          instant website builder
        </h2>
      </div>
      <div class="description">
        <p class="text">
          Create Your Own Website With Xeos Instant Website Builder
        </p>
      </div>
      <div class="search">
        <input type="text" placeholder="Type your website name">
        <button class="waves-effect">get start</button>
      </div>
    </div>
  </div>
</section>