<section class="customize-container">
	<div class="container">
		<div class="p-title">
			<h2 class="heading-2">
					Build With Better Tools & Easier To Customize
			</h2>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="p-customize-left">
					<img class="p-img" src="../../images/login-page.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="p-customize-right">
					<div class="item-customize">
						<div class="row">
							<div class="col-lg-2">
								<div class="icon orange">
									<i class="far fa-clipboard"></i>
								</div>
							</div>
							<div class="col-lg-10">
								<div class="description">
									<div class="title">
										<h4 class="heading-4">Drag & Drop</h4>
									</div>
									<div class="text">
										<p class="text-content">
											Lorem ipsum dolor sit amet, consectetuer euismod tincidunt ut laoreet dolore om.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item-customize">
						<div class="row">
							<div class="col-lg-2">
								<div class="icon pink">
									<i class="far fa-clipboard"></i>
								</div>
							</div>
							<div class="col-lg-10">
								<div class="description">
									<div class="title">
										<h4 class="heading-4">Drag & Drop</h4>
									</div>
									<div class="text">
										<p class="text-content">
											Lorem ipsum dolor sit amet, consectetuer euismod tincidunt ut laoreet dolore om.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item-customize">
						<div class="row">
							<div class="col-lg-2">
								<div class="icon blue">
									<i class="far fa-clipboard"></i>
								</div>
							</div>
							<div class="col-lg-10">
								<div class="description">
									<div class="title">
										<h4 class="heading-4">Drag & Drop</h4>
									</div>
									<div class="text">
										<p class="text-content">
											Lorem ipsum dolor sit amet, consectetuer euismod tincidunt ut laoreet dolore om.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>	
					<div class="item-customize">
						<div class="row">
							<div class="col-lg-2">
								<div class="icon orange">
									<i class="far fa-clipboard"></i>
								</div>
							</div>
							<div class="col-lg-10">
								<div class="description">
									<div class="title">
										<h4 class="heading-4">Drag & Drop</h4>
									</div>
									<div class="text">
										<p class="text-content">
											Lorem ipsum dolor sit amet, consectetuer euismod tincidunt ut laoreet dolore om.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>