<section class="features-container">
    <div class="container">
        <div class="p-title text-center">
            <h2 class="heading-2">Xeos Offers Valuable Premium Features</h2>
        </div>
        <div class="p-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="item-features text-center">
                        <div class="icon orange"><i class="fas fa-image"></i></div>
                        <div class="title">
                            <h3 class="heading-3">Full control over the design of your site</h3>
                        </div>
                        <div class="text">
                            <p class="text-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                nonummy om.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item-features text-center">
                        <div class="icon blue"><i class="fas fa-chart-bar"></i></div>
                        <div class="title">
                            <h3 class="heading-3">Full control over the design of your site</h3>
                        </div>
                        <div class="text">
                            <p class="text-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                nonummy om.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item-features text-center">
                        <div class="icon pink"> <i class="fab fa-dropbox"></i></div>
                        <div class="title">
                            <h3 class="heading-3">Full control over the design of your site</h3>
                        </div>
                        <div class="text">
                            <p class="text-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                nonummy om.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>