<section class="footerbottom-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="p-logo">
          <h2 class="heading-2">xeos</h2>
        </div>
      </div>
      <div class="col-lg-5">
        <nav class="p-icon">
          <ul>
            <li class="item-icon"><a href="javascript:void()" class="link-icon"><i
                  class="fab fa-facebook-square"></i></a></li>
            <li class="item-icon"><a href="javascript:void()" class="link-icon"><i class="fab fa-twitter"></i></a></li>
            <li class="item-icon"><a href="javascript:void()" class="link-icon"><i class="fab fa-youtube"></i></a></li>
            <li class="item-icon"><a href="javascript:void()" class="link-icon"><i
                  class="fab fa-facebook-square"></i></a></li>
            <li class="item-icon"><a href="javascript:void()" class="link-icon"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-5">
        <div class="copyrigth">
          <p class="text">Copyright © Xeos 2015. All right reserved</p>
        </div>
      </div>

    </div>
  </div>
</section>