<section class="stories-container">
  <div class="container">
    <div class="p-title text-center">
      <h2 class="heading-2">
        Our Customers Success Stories
      </h2>
      <p class="title-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
    <div class="p-content">
      <div class="row">
        <div class="col-lg-3">
          <div class="item-stories">
            <div class="video">
              <video width="100%" controls>
                <source src="../../images/videoplayback.mp4">
              </video>
            </div>
            <div class="text">
              <p class="text-content">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt ut laoreet dolore magna aliquam om.
              </p>
              <p class="text-bottom"><span class="sp-content">jonh doe</span><br>marketing manager</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="item-stories">
            <div class="p-video">
              <video class="video-content" width="100%" controls>
                <source src="../../images/videoplayback.mp4">
              </video>
            </div>
            <div class="text">
              <p class="text-content">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt ut laoreet dolore magna aliquam om.
              </p>
              <p class="text-bottom"><span class="sp-content">jonh doe</span><br>marketing manager</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="item-stories">
            <div class="p-video">
              <video class="video-content" width="100%" controls>
                <source src="../../images/videoplayback.mp4">
              </video>
            </div>
            <div class="text">
              <p class="text-content">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt ut laoreet dolore magna aliquam om.
              </p>
              <p class="text-bottom"><span class="sp-content">jonh doe</span><br>marketing manager</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="item-stories">
            <div class="p-video">
              <video class="video-content" width="100%" controls>
                <source src="../../images/videoplayback.mp4">
              </video>
            </div>
            <div class="text">
              <p class="text-content">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt ut laoreet dolore magna aliquam om.
              </p>
              <p class="text-bottom"><span class="sp-content">jonh doe</span><br>marketing manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>