<section class="storiestwo-container">
  <div class="container">
    <div class="p-title text-center">
      <h2 class="heading-2">
        Our Customers Success Stories
      </h2>
      <p class="title-content">No hidden costs or surprises. Cancel your plan at any time.</p>
    </div>
    <div class="p-content">
      <div class="row">
        <div class="col-lg-3">
          <div class="item-storiestwo">
            <div class="stories-social">
              <div class="item">
                <p class="text">File storage</p>
                <p class="text">Limited products / post</p>
                <p class="text">24/7 Support</p>
                <p class="text">Mobile</p>
                <p class="text">0.5% Transaction fee</p>
                <p class="text">Professional reports</p>
                <p class="text">Advanced report builder</p>
                <p class="text">Real-time carrier shipping</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="item-storiestwo">
            <div class="stories-top green">
              <div class="title">
                <h5 class="heading-5">started</h5>
              </div>
              <div class="price">
                <p class="text-price"><span class="sp-price">$</span>4</p>
              </div>
              <div class="usd">
                <p class="usd-content">usd per month</p>
              </div>
            </div>
            <div class="stories-bottom">
              <div class="item">
                <p class="text">500 MB</p>
                <p class="text">50 Products & Post</p>
                <p class="text"><i class="fas fa-check"></i></p>
                <p class="text"><i class="fas fa-times"></i></p>
                <p class="text"><i class="fas fa-times"></i></p>
                <p class="text"><i class="fas fa-times"></i></p>
                <p class="text"><i class="fas fa-times"></i></p>
                <p class="text"><i class="fas fa-times"></i></p>
                <div class="btn">
                  <button class="btn-start waves-effect">get start</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="item-storiestwo">
            <div class="popular">
              <p class="pop">Popular</p>
            </div>
            <div class="stories-top orange">
              <div class="title">
                <h5 class="heading-5">started</h5>
              </div>
              <div class="price">
                <p class="text-price"><span class="sp-price">$</span>10</p>
              </div>
              <div class="usd">
                <p class="usd-content">usd per month</p>
              </div>
            </div>
            <div class="stories-bottom">
              <div class="item">
                <p class="text">100 GB</p>
                <p class="text">250 Products & Post</p>
                <p class="text"><i class="fas fa-check"></i></p>
                <p class="text"><i class="fas fa-check"></i></p>
                <p class="text"><i class="fas fa-check"></i></p>
                <p class="text"><i class="fas fa-check"></i></p>
                <p class="text"><i class="fas fa-times"></i></p>
                <p class="text"><i class="fas fa-times"></i></p>
                <div class="btn">
                  <button class="btn-start waves-effect">get start</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="item-storiestwo">
            <div class="stories-top pink">
              <div class="title">
                <h5 class="heading-5">started</h5>
              </div>
              <div class="price">
                <p class="text-price"><span class="sp-price">$</span>94</p>
              </div>
              <div class="usd">
                <p class="usd-content">usd per month</p>
              </div>
            </div>
            <div class="stories-bottom">
              <div class="item">
                <p class="text">Unlimited File Storage</p>
                <p class="text">Unlimited Products & Post</p>
                <p class="text"><i class="fas fa-check"></i></p>
                <p class="text"><i class="fas fa-check"></i></p>
                <p class="text"><i class="fas fa-check"></i></p>
                <p class="text"><i class="fas fa-check"></i></p>
                <p class="text"><i class="fas fa-check"></i></p>
                <p class="text"><i class="fas fa-check"></i></p>
                <div class="btn">
                  <button class="btn-start waves-effect">get start</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>