<section class="storiestwo-container">
  <div class="container">
    <div class="p-title text-center">
      <h2 class="heading-2">
        Our Customers Success Stories
      </h2>
      <p class="title-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
    <div class="p-content">
      <div class="row">
        <div class="col-lg-3">
          <div class="item-storiestwo">
            <div class="stories-top">
              <div class="title">
                <h5 class="heading-5">started</h5>
              </div>
              <div class="price">
                <p class="text-price">$4</p>
              </div>
              <div class="usd">usd per month</div>
            </div>
            <div class="stories-bottom">
              <div class="item">
                <p>500</p>
                <p>500</p>
                <p>500</p>
                <p>500</p>
                <p>500</p>
                <p>500</p>
                <p>500</p>
                <p>500</p>
                <button>get start</button>
              </div>
            </div>
          </div>


        </div>
        <div class="col-lg-3">
          <div class="item-storiestwo">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <footer class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="p-title">
          <h4 class="heading-4">quick link</h4>
        </div>
        <div class="p-link">
          <ul>
            <li class="item-link"><a href="javascript:void()" class="link">Home</a></li>
            <li class="item-link"><a href="javascript:void()" class="link">Home</a></li>
            <li class="item-link"><a href="javascript:void()" class="link">Home</a></li>
            <li class="item-link"><a href="javascript:void()" class="link">Home</a></li>
            <li class="item-link"><a href="javascript:void()" class="link">Home</a></li>
            <li class="item-link"><a href="javascript:void()" class="link">Home</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="p-title">
          <h4 class="heading-4">quick link</h4>
        </div>
        <div class="p-contact">
          <div class="contact">
            <p class="add">Address:
              <span class="sp-add">1234 Street Name, City Name United States</span>
            </p>
          </div>
          <div class="contact">
            <p class="phone">Phone:<br>(123) 456-7890</p>
          </div>
          <div class="contact">
            <p class="email">Email:<br>mail@example.com</p>
          </div>
          <div class="contact">
            <p class="work">Working Days/Hours:<br>Mon - Sun / 9:00 AM - 8:00 PM</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="p-title">
          <h4 class="heading-4">recent post</h4>
        </div>
        <div class="p-recent">
          <div class="row">
            <div class="col-lg-4">
              <div class="back" style="background-image: url('../../images/team_1')"></div>
            </div>
            <div class="col-lg-8">
              <div class="p-text">
                <p class="text">Lorem ipsum dolor sit amet bara bere xeos 18 April 2015</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer> -->