<section class="tryxeo-container">
  <div class="container">
    <div class="p-title text-center">
      <h2 class="heading-2">Try Xeos free for 30 days. No credit card required</h2>
      <p class="title-content">Create Your Own Website With Xeos Instant Website Builder</p>
    </div>
    <div class="p-content">
      <input class="search" type="text" placeholder="Email Address">
      <i class="fas fa-chevron-right"></i>
      <input class="search" type="text" placeholder="Password">
      <i class="fas fa-chevron-right"></i>
      <input class="search" type="text" placeholder="Choose Website Name">
      <i class="fas fa-chevron-right"></i>
      <button class="btn-start waves-effect waves-light">get start</button>
    </div>
  </div>
</section>