<footer class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="p-title">
          <h4 class="heading-4">quick link</h4>
        </div>
        <div class="p-link">
          <ul>
            <li class="item-link"><a href="javascript:void()" class="link">Home</a></li>
            <li class="item-link"><a href="javascript:void()" class="link">about</a></li>
            <li class="item-link"><a href="javascript:void()" class="link">features</a></li>
            <li class="item-link"><a href="javascript:void()" class="link">about us</a></li>
            <li class="item-link"><a href="javascript:void()" class="link">blog</a></li>
            <li class="item-link"><a href="javascript:void()" class="link">contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="p-title">
          <h4 class="heading-4">contact information</h4>
        </div>
        <div class="p-contact">
          <div class="contact">
            <p class=" text add"> <i class="fas fa-map-marker-alt"></i> Address:
              <br>
              <span class="sp-add">1234 Street Name, City Name United States</span>
            </p>
          </div>
          <div class="contact">
            <p class="text phone"><i class="fas fa-phone"></i> Phone:
              <br><span>(123) 456-7890</span></p>
          </div>
          <div class="contact">
            <p class="text email"><i class="fas fa-envelope"></i> Email:
              <br><span>mail@example.com</span></p>
          </div>
          <div class="contact">
            <p class="text work"><i class="fas fa-calendar-alt"></i> Working Days/Hours:
              <br><span>Mon - Sun / 9:00 AM - 8:00 PM</span></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="p-title">
          <h4 class="heading-4">recent post</h4>
        </div>
        <div class="p-recent">
          <div class="recent">
            <div class="row">
              <div class="col-lg-4">
                <div class="back" style="background-image: url('../../images/team_1.jpg')">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="p-text">
                  <p class="text">Lorem ipsum dolor sit amet bara bere xeos </p>
                  <span class="sp-text">18 April 2015</span>
                </div>
              </div>
            </div>
          </div>
          <div class="recent">
            <div class="row">
              <div class="col-lg-4">
                <div class="back" style="background-image: url('../../images/team_1.jpg')">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="p-text">
                  <p class="text">Lorem ipsum dolor sit amet bara bere xeos </p>
                  <span class="sp-text">18 April 2015</span>
                </div>
              </div>
            </div>
          </div>
          <div class="recent">
            <div class="row">
              <div class="col-lg-4">
                <div class="back" style="background-image: url('../../images/team_1.jpg')">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="p-text">
                  <p class="text">Lorem ipsum dolor sit amet bara bere xeos </p>
                  <span class="sp-text">18 April 2015</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3">
        <div class="p-title">
          <h4 class="heading-4">
            xeos newsletter
          </h4>
        </div>
        <div class="p-news">
          <div class="news">
            <p class="text">Xeos newsletter update - Keep up on our always evolving product features and technology.
              Enter your e-mail and subscribe to our newsletter.</p>
          </div>
          <div class="email">
            <input type="text" placeholder="Email Address">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="btn">
            <button class="waves-effect">subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>