<header class="header-container" id="header-container">
  <div class="container">
    <div class="row">
      <div class="p-logo">
        <h1 class="heading-1">xeos</h1>
      </div>
      <nav class="p-menu">
        <ul>
          <li class="item-menu"><a href="@" class="link-menu">home</a></li>
          <li class="item-menu"><a href="@" class="link-menu">features</a></li>
          <li class="item-menu"><a href="@" class="link-menu">about us</a></li>
          <li class="item-menu"><a href="@" class="link-menu">blog</a></li>
          <li class="item-menu"><a href="@" class="link-menu">contact</a></li>
          <li class="item-menu"><button class="waves-effect">get started</button></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
