$cl-bl: #000;
$cl-wh: #fff;
$cl-or: #f3ae4e;
$cl-pi: #d96383;
$cl-blu: #4eb1cb;
$bg-blu: #2a94d6;
$font-main: "Mariad Pro Regular";
$cl-menu: #0b6196;
$font-main: "Mariad Pro Regular";
$bg-wh: #fff;
$cl-cu: #647687;
$bg-try: #0b6196;