$cl-bl: #000;
$cl-wh: #fff;
$cl-or: #f3ae4e;
$cl-pi: #d96383;
$cl-blu: #4eb1cb;
$bg-blu: #2a94d6;
$font-main: "Mariad Pro Regular";
$cl-menu: #0b6196;
$bg-wh: #fff;
$cl-cu: #647687;
$bg-try: #0b6196;
$bg-sto: #0b6196;
$bg-it-sto: #4ab471;
$bg-or: #f3ae4e;
$bg-pink: #d96383;
$cl-tick: #4ab471;
$cl-times: #c6564e;
$cl-tx-sto: #647687;
$cl-ft: #b0bec5;
$bg-ft: #293f54;
$bg-ft-bt: #263238;
